{% extends 'base.html.twig' %}

{% block content %}

  <div class="container">
    {#-----poire amandine------#}

    <div class="card text-center mt-5 mb-5">
      <p class="card-header mb-2">Recette de la poire-amandine</p>
      <img src="http://www.sunny-delices.fr/wp-content/uploads/2016/11/tarte-poire-amandine-sans-gluten.jpg"
           class="card-img-top" alt="poire-amandine" style="width:200px; margin: auto">
      <div class="card-body">
        <a href="?p=poire_amandine" class="btn btn-link">Voir la recette</a>
      </div>
    </div>

    {#--------brownies---------#}

    <div class="card mb-5 text-center">
      <p class="card-header mb-2">Recette du brownies au chocolat</p>
      <img src="https://i.ytimg.com/vi/Biibg4EVOew/maxresdefault.jpg" class="card-img-top" alt="brownies"
           style="width: 200px; margin:auto">
      <div class="card-body">
        <a href="?p=brownies" class="btn btn-link">Voir la recette</a>
      </div>
    </div>

    {#-----------cake-------------#}

    <div class="card mb-5 text-center">
      <p class="card-header mb-2">Recette du cake de fruits confits</p>
      <img src="https://static.cuisineaz.com/400x320/i144819-cake-aux-fruits-confits-au-thermomix.jpeg"
           class="card-img-top" alt="cake fruits confits" style="width: 200px; margin:auto">
      <div class="card-body">
        <a href="?p=cake_aux_fruits_confits" class="btn btn-link">Voir la recette</a>
      </div>
    </div>
  </div>

{% endblock %}