{% extends 'base.html.twig' %}

{% block title %}

  Les recettes - poire-amandine

{% endblock %}

{% block content %}

  <div class="container">

    {#------------poire------------#}

    <div class="card m-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <h4 class="card-title m-2">Poire-amandine</h4>
          <img src="http://www.sunny-delices.fr/wp-content/uploads/2016/11/tarte-poire-amandine-sans-gluten.jpg"
               class="card-img-top m-2" alt="brownies"
               style="width: 350px; margin-bottom: 5rem">
        </div>

        {#---------ingredients--------#}

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Ingrédients</h5>

            {#----for loop----#}

            <div class="container">
              <div class="row justify-content-between">

                {% for product in products %}
                  <div class="col-4">
                    <div class="card" style="width:auto; margin-top: 2rem">
                      <div class="card-body">
                        <p class="card-text">{{ product }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}